* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  background-color: #fff;
  color: #000;
  line-height: 1.8;
  height: 100vh;
  position: relative;
  font-weight: 700;
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  width: 25rem;
  margin-bottom: 2rem;
}

.paragraph {
}

.input {
  width: 50%;
  padding: 1rem 1rem;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  border: 1px solid #ff0066;
  margin-top: 3rem;
  transition: all 0.7s;
}
.input::placeholder {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Space Grotesk", sans-serif;
}

.input:focus {
  width: 70%;
}

.submit {
  margin-top: 2.5rem;
  padding: 1.5rem 8rem;
  font-size: 1.6rem;
  background-color: #ff0066;
  border: none;
  border-radius: 3rem;
  box-shadow: 0 3rem 5rem rgba(124, 114, 114, 0.3);
  cursor: pointer;
  transition: all 0.5s;
  font-family: "Space Grotesk", sans-serif;
}
.submit:active {
  transform: translateY(-50%);
}

/* Modal */
.modal {
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 1.5rem;
  border-radius: 1rem;
  z-index: 10;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

#share-button {
  font-size: 1.4rem;
  margin-top: 2rem;
  background-color: #ff0066;
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  border: none;
  background: none;
  color: #333;
  font-size: 4rem;
  cursor: pointer;
}

.heading {
  font-size: 5rem;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 5;
}

footer {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff0066;
  text-align: center;
}

.profile {
  text-decoration: none;
  color: #ff0066;
  text-align: center;
}
